* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 0 auto;
}
table,
tr,
td,
th {
  background-color: rgb(250, 160, 160);
  border: 1px solid #000;
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-top: 1rem;
}

.search {
  width: 100%;
  height: 1.8rem;
  padding: 0.25rem;
  border: 1px solid gray;

  outline: none;
  margin-top: 2rem;
}
